version: '3.8'

services:
  app:
    build:
      context: /var/www/html/webhook
      dockerfile: Dockerfile
    image: webhook-app
    container_name: webhook-app
    restart: unless-stopped
    working_dir: /var/www/html/webhook
    volumes:
      - /var/www/html/webhook:/var/www/html/webhook
    networks:
      - automatrix
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080" # Reverb WebSocket server exposed here

  webserver:
    image: nginx:alpine
    container_name: webhook-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - /var/www/html/webhook:/var/www/html/webhook
      - /var/www/html/webhook/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - automatrix

  db:
    image: mysql:8.0
    container_name: webhook-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: webhook_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: webhook
      MYSQL_PASSWORD: webhook
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - automatrix
    ports:
      - "3307:3306"   

  redis:
    image: redis:alpine
    container_name: webhook-redis
    restart: unless-stopped
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}  # Load from .env
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6380:6379"
    networks:
      - automatrix

volumes:
  dbdata:

networks:
  automatrix:
