version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: webhook-app
    container_name: webhook-app
    restart: unless-stopped
    working_dir: /var/www/html/webhook
    volumes:
      - ./:/var/www/html/webhook
    networks:
      - automatrix
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"
    env_file:
      - .env

  webserver:
    image: nginx:alpine
    container_name: webhook-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html/webhook
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - automatrix
    env_file:
      - .env

  db:
    image: mysql:8.0
    container_name: webhook-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: webhook_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: webhook
      MYSQL_PASSWORD: webhook
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - automatrix
    ports:
      - "3306:3306"

  redis:
    image: redis:alpine
    container_name: webhook-redis
    restart: unless-stopped
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    networks:
      - automatrix

volumes:
  dbdata:

networks:
  automatrix:
